/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */

@layer styleguide {

    :root {
        /* Kleuren */
        --background-dark: hsl(201, 71%, 19%);
        --background-light: hsl(168, 38%, 67%);
        /* inset = diepte effect */
        --background-inset: hsl(201, 60%, 25%);
        --text: hsl(0, 0%, 100%);
        --accent: hsl(34, 48%, 84%);
        --accent-light: hsl(34, 60%, 90%);

        /* Typografie */
        --headline: 24px;
        --head: 18px;
        --subhead: 16px;
        --body: 16px;
        --label: 14px;

        --font-family: Geomanist, 'Helvetica Neue', Helvetica, sans-serif;

        /* Spacing */
        --padding: 20px;
        --margin: 10px;
        --button-padding-y: 12px;
        --button-padding-x: 24px;
        --input-padding-y: 12px;
        --input-padding-x: 16px;

        /* Borders */
        --border: 1px solid var(--background-dark);
        --border-radius-default: 8px;
        --border-radius-small: 4px;
        --border-radius-smaller: 2px;
        --border-radius-smallest: 1px;

        /* Shadows */
        --shadow-inset: inset 0 2px 2px hsla(0, 0%, 0%, .1);
        --shadow-small: 0 1px 3px hsla(0, 0%, 0%, .2);
        --shadow-button: inset 0 1px 0 var(--accent-light);
        --focus-border: 0 0 0 2px var(--background-light);

        /* Checkboxes */
        --checkbox-size: 20px;
    }
}