/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */

@layer styleguide {

    :root {
        /* Typografie */
        --headline: 24px;
        --head: 18px;
        --subhead: 16px;
        --label: 14px;

        /* Kleuren */
        --bg-primary-dark: hsl(201, 71%, 19%);
        --bg-primary-light: hsl(168, 38%, 67%);
        --secondary-color-w: hsl(0, 0%, 100%);
        --secondary-color-b: hsl(34, 48%, 84%);
        --secondary-color-bl: hsl(0, 0%, 0%);

        /* Spacing */
        --padding: 20px;
        --margin: 10px;

        /* borders */
        --border: 1px solid var(--bg-primary-dark);

        /* Checkboxes */
        --checkbox-size: 20px;
        --checkbox-border: 2px solid #ccc;

        /* Formulier elementen */

        /* Buttons */
    }




    /* CSS STYLING OP HTML(!) */

    #kleur figure:nth-of-type(1) code {
        background: var(--bg-primary-dark);
        color: var(--secondary-color-w);
    }

    #kleur figure:nth-of-type(2) code {
        background: var(--bg-primary-light);
    }

    #kleur figure:nth-of-type(3) code {
        background: var(--secondary-color-w);
        border: var(--border);
    }

    #kleur figure:nth-of-type(4) code {
        background: var(--secondary-color-b);
    }

    #kleur figure:nth-of-type(5) code {
        background: var(--secondary-color-bl);
        color: var(--secondary-color-w);
    }

    .headline h1 {
        font-size: var(--headline);
    }

    .head h2 {
        font-size: var(--head);
    }

    #typografie h3 {
        font-size: var(--subhead);
    }

    #typografie h4,
    #typografie h5,
    .label h6 {
        font-size: var(--label);
    }

    input[type="checkbox"] {
        appearance: none;
        width: var(--checkbox-size);
        height: var(--checkbox-size);
        border: 1px solid var(--bg-primary-dark);
        border-radius: 4px;
        background-color: var(--secondary-color-w);
        display: inline-grid;
        place-items: center;
        vertical-align: middle;
    }

    input[type="checkbox"]:checked {
        background-color: var(--bg-primary-dark);
    }

    input[type="checkbox"]:checked::after {
        content: "✓";
        color: var(--secondary-color-b);
        font-size: var(--label);
    }
}